body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    background: linear-gradient(to right, #1f1c2c, #928dab);
    color: #333;
}


header {
    text-align: center;
    padding: 30px;
    color: white;
}


nav {
    text-align: center;
    background: rgba(0,0,0,0.5);
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}


.card {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}


.profile {
    width: 150px;
    border-radius: 50%;
    display: block;
    margin: 10px auto;
}


.grid {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    width: 250px;
    text-align: center;
}

.box img {
    width: 100%;
    border-radius: 10px;
}


.center {
    text-align: center;
}


button {
    padding: 10px 25px;
    font-size: 16px;
    border: none;
    background: #1f1c2c;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #333;
}


footer {
    text-align: center;
    padding: 15px;
    color: white;
}
